.git
.github
.gitignore
.editorconfig
.idea
.vscode
node_modules
vendor
public/build
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.env
.env.production
.phpunit.result.cache
Dockerfiles
docker-compose.yml
README.md
tests
phpunit.xml
pint.json
eslint.config.js
pnpm-workspace.yaml
components.json
api.json
test_api.php
test_profile.php
tinker_script.php
